<h2 class="ui dividing header">Requests</h2>

<table class="table ui striped tablet stackable celled">
    <thead>
        <tr>
            <th>Status</th>
            <th>Specialty/Diagnosis</th>
            <th>Referring Doctor</th>
            <th>Referred Doctor</th>
            <th>Creator</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    <% @requests.each do |r| %>
        <tr>
          <td><%= @statuses[r.status] %></td>
          <td><%= r.specialization.try(:title) %></td>
          <td><%= r.referring_doctor.try(:full_name) %></td>
          <td><%= r.referred_doctor.try(:full_name) %></td>
          <td><%= r.created_by.try(:full_name) %></td>
          <td><%= r.created_at %></td>
          <td><%= distance_of_time_in_words_to_now(r.updated_at) %></td>
          <td><%= button_to 'Accept', accept_requests_path(id: r.id), disabled: r.status == 3, method: :patch, class: 'button ui yellow' %></td>
          <td><%= button_to "Deny", deny_requests_path(id: r.id), disabled: r.status == 4, method: :patch, class: 'ui button red' %></td>
        </tr>
    <% end %>
</tbody>
</table>
